{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="contenu">
		<h1 class="fst-italic">Connexion</h1>
		<div class="container">

			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}

				<h2 class="h3 mb-3 font-weight-normal">J'ai déjà un compte</h2>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword" class="mt-5">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-lg btn-primary my-4" type="submit">
					Me connecté
				</button>
				<button class="btn btn-lg btn-primary my-4" type="submit">
					Oups! mot de passe oublié
				</button>

			</form>

			<div class="text-center mt-5">
				<h3 class="text-center custom-title">Je n'ai pas encore de compte
				</h3>
				<a class="btn btn-primary rounded-0 mt-3 align-items-center text-nowrap" href="{{ path('app_register') }}">
					Je minscrit</a>
			</div>
		</div>
	</div>
	{% include "partials/footer.php" %}
{% endblock %}
